<div class="ud-dependency-error">
    <h4 class="bold color-red">Dependency Error</h4>

    <p>
        The operation cannot be completed due to dependencies
        that cannot be found for {{exception.NumberOfItemsAffected}} {{(exception.NumberOfItemsAffected == 1 ? "item" : "of the items")}} selected for transfer.
    </p>
    <p>
        There are dependencies on {{exception.NumberOfDependentItems}} item{{(exception.NumberOfDependentItems == 1 ? "" : "s")}} to resolve.
    </p>

    <h5>Dependency Details</h5>
    <ul class="ud-dependency-error__list">
        <li ng-repeat="dependency in exception.Dependencies">
            <div>Item selected for transfer: <b>{{dependency.Dependent.Name}}</b></div>
            <div class="ud-dependency-error__detail">Id: {{dependency.Dependent.NodeId}}</div>
            <div class="ud-dependency-error__detail">Udi: {{dependency.Dependent.Udi}}</div>
            <div class="ud-dependency-error__detail">Type: {{dependency.Dependent.Type}}</div>
            <div>Depends on:</div>
            <ul>
                <li ng-repeat="dependencyOn in dependency.DependsOn">
                    <div class="ud-dependency-error__dependency-detail">Udi: {{dependencyOn.Udi}}</div>
                    <div ng-if="dependencyOn.Name" class="ud-dependency-error__dependency-detail">Name: {{dependencyOn.Name}}</div>
                    <div class="ud-dependency-error__dependency-detail">Type: {{dependencyOn.Type}}</div>
                    <div class="ud-dependency-error__reason">{{dependencyOn.Reason}}</div>
                </li>
            </ul>
        </li>
    </ul>
    <p>These issues must be resolved before the transfer operation can succeed.  For more information, please refer to <a class="underline" href="https://our.umbraco.com/documentation/Umbraco-Cloud/Troubleshooting/Deployments/Dependency-Exceptions/" target="_blank">this documentation page</a>.</p>
</div>
